*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--ph-d-dark);
    color: #f1f1f1;
}

.ph-btn {
    background: transparent;
    outline: none;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    cursor: pointer;
    color: inherit;
}

.ph-btn:hover{
    background-color: rgba(104, 103, 103, 0.185);
}

.ph-btn:active{
    background-color: rgba(26, 26, 26, 0.185);
}

textarea {
    background-color: var(--ph-l-dark);
    border-radius: 15px;
    border: none;
    padding: 0.7em;
    color: white;
    width: 100%;
    resize: none;
}
textarea:focus{
    outline: none;
}

svg {
    background: transparent;
}

h3 {
    margin: 0;
}

.ph-scroll-thin::-webkit-scrollbar{
    width: 5px;
}
.ph-scroll-thin::-webkit-scrollbar-thumb{
    background-color: #747272;
    border-radius: 10px;

}